/*-----------------------------------------------------------------------------------

    Item Name: MWear - Ecommerce HTML Template.
    Author: Dawood Chouhan
    Version: 3.0
    Copyright 2021-2022
	Author URI: https://themeforest.net/user/Dawood Chouhan

-----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------
    Background Image-4
-----------------------------------------------------------------------------------*/
.body-bg-4 {
  background-color: #fff;
}