
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="~/Theme/index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">Shop</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Page detail section -->
<section class="ec-bnr-detail margin-bottom-30 section-space-pt">
    <div class="ec-page-detail">
        <div class="container">
            <div class="ec-main-heading d-none">
                <h2>Shop <span>Detail</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12" >
                    <div class="ec-cat-bnr" >
                        <a href="~/Theme/product-left-sidebar.html" ><span style="background-image:url(../../Images/Products/1920x630.jpg);"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ec-page-description">
                        <h6>The Best deal on top brands</h6>
                        <p class="m-0">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged.
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End detail section -->
<!-- Ec Shop page -->
<section class="ec-page-content-bnr section-space-pb">
    <div class="container">
        <div class="row">
            <div class="ec-shop-rightside col-lg-9 col-md-12 order-lg-last order-md-first margin-b-30">
                <!-- Shop Top Start -->
                <div class="ec-pro-list-top d-flex">
                    <div class="col-md-6 ec-grid-list">
                        <div class="ec-gl-btn">
                            <!-- <button class="btn btn-grid active"><img src="~/Theme/assets/images/icons/grid.svg"
                                    class="svg_img gl_svg" alt="" /></button>
                            <button class="btn btn-list"><img src="~/Theme/assets/images/icons/list.svg"
                                    class="svg_img gl_svg" alt="" /></button> -->
                        </div>
                    </div>
                    <div class="col-md-6 ec-sort-select">
                        <span class="sort-by">Sort by</span>
                        <div class="ec-select-inner">
                            <select name="ec-select" id="ec-select">
                                <option selected disabled>Position</option>
                                <option value="1">Relevance</option>
                                <option value="2">Name, A to Z</option>
                                <option value="3">Name, Z to A</option>
                                <option value="4">Price, low to high</option>
                                <option value="5">Price, high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Shop Top End -->
                <!-- Shop content Start -->
                <div class="shop-pro-content">
                    <div class="shop-pro-inner">
                        <div class="row">



                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                @*<a href="~/Theme/#" data-tip="Compare">
                                                    <img src="~/Theme/assets/images/icons/compare.svg"
                                                         class="svg_img pro_svg" alt="compare" />
                                                </a>*@
                                                <a href="#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                <div class="ec-product-lsc" style="margin-top: 10px;">
                                    <div class="ec-product-image">
                                        <a href="~/Theme/#">
                                            <img src="~/Images/Products/SPG-00173-1.jpg" class="img-center" alt="">
                                        </a>
                                        <!-- <span class="ec-product-ribbon">New</span> -->
                                    </div>
                                    <div class="ec-product-body">
                                        <p class="ec-description"> Men's Fashion <span>In stock</span></p>
                                        <h3 class="ec-title"><a href="~/Theme/#">Men's plain shirt</a></h3>
                                        <div class="ec-el-price">
                                            <p class="ec-o-price"> $200 </p>
                                            <p class="ec-d-price"> $180 </p>
                                        </div>
                                        <!-- <ul class="ec-rating">
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star fill"></li>
                                            <li class="ecicon eci-star"></li>
                                        </ul> -->
                                        <div class="ec-color">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active">
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src="~/Images/Products/SPG-00173-1.jpg"
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Gray">
                                                            <span style="background-color:#01f1f1;"></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/Theme/#" class="ec-opt-clr-img"
                                                           data-src=""
                                                           data-src-hover="~/Images/Products/SPG-00173-1.jpg"
                                                           data-tooltip="Orange">
                                                            <span style="background-color:#b89df8;"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <br>

                                        <br>
                                        <div class="ec-size" style="margin-top: -15px;">
                                            <a href="~/Theme/#">S</a>
                                            <a href="~/Theme/#">M</a>
                                            <a href="~/Theme/#">L</a>
                                        </div>

                                        <div class="ec-link-btn">
                                            <!-- <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a> -->

                                        </div>
                                        <div class="ec-link-btn" style="margin-top: 2px;">
                                            <a class=" ec-add-to-cart" href="~/Theme/#">add to cart</a>
                                            <div class="ec-link-icon">
                                                <!-- <a href="~/Theme/#" data-tip="Add to cart"><img src="~/Theme/assets/images/icons/cart.svg"
                                                    class="svg_img header_svg pro_svg" alt="cart" /></a> -->
                                                <a href="~/Theme/#" data-tip="Add to Wishlist">
                                                    <img src="~/Theme/assets/images/icons/wishlist.svg"
                                                         class="svg_img header_svg pro_svg" alt="wishlist" />
                                                </a>
                                                <!-- <a href="~/Theme/#" data-tip="Compare"><img src="~/Theme/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt="compare" /></a> -->
                                                <a href="~/Theme/#" class="quickview" data-link-action="quickview"
                                                   title="Quick view" data-bs-toggle="modal"
                                                   data-bs-target="#ec_quickview_modal">
                                                    <img src="~/Theme/assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                         alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>










                            <!-- product Tiles end -->


                        </div>
                    </div>
                    <!-- Ec Pagination Start -->
                    <div class="ec-pro-pagination">
                        <span>Showing 1-12 of 21 item(s)</span>
                        <ul class="ec-pro-pagination-inner">
                            <li><a class="active" href="~/Theme/#">1</a></li>
                            <li><a href="~/Theme/#">2</a></li>
                            <li><a href="~/Theme/#">3</a></li>
                            <li><a href="~/Theme/#">4</a></li>
                            <li><a href="~/Theme/#">5</a></li>
                            <li><a class="next" href="~/Theme/#">Next <i class="ecicon eci-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- Ec Pagination End -->
                </div>
                <!--Shop content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="ec-shop-leftside col-lg-3 col-md-12 order-lg-first order-md-last">
                <div id="shop_sidebar">
                    <div class="ec-sidebar-heading">
                        <h1>Filter Products By</h1>
                    </div>
                    <div class="ec-sidebar-wrap">
                        <!-- Sidebar Category Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Category</h3>
                            </div>
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" checked /> <a href="~/Theme/#">clothes</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" /> <a href="~/Theme/#">Bags</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" /> <a href="~/Theme/#">Shoes</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" /> <a href="~/Theme/#">cosmetics</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" /> <a href="~/Theme/#">electrics</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" /> <a href="~/Theme/#">phone</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li id="ec-more-toggle-content" style="padding: 0; display: none;">
                                        <ul>
                                            <li>
                                                <div class="ec-sidebar-block-item">
                                                    <input type="checkbox" /> <a href="~/Theme/#">Watch</a><span class="checked"></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ec-sidebar-block-item">
                                                    <input type="checkbox" /> <a href="~/Theme/#">Cap</a><span class="checked"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item ec-more-toggle">
                                            <span class="checked"></span><span id="ec-more-toggle">
                                                More
                                                Categories
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Size Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Size</h3>
                            </div>
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" value="" checked /><a href="~/Theme/#">S</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" value="" /><a href="~/Theme/#">M</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" value="" /> <a href="~/Theme/#">L</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" value="" /><a href="~/Theme/#">XL</a><span class="checked"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <input type="checkbox" value="" /><a href="~/Theme/#">XXL</a><span class="checked"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Color item -->
                        <div class="ec-sidebar-block ec-sidebar-block-clr">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Color</h3>
                            </div>
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#c4d6f9;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#ff748b;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#000000;"></span>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#2bff4a;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#ff7c5e;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#f155ff;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#ffef00;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#c89fff;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#7bfffa;"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-block-item">
                                            <span style="background-color:#56ffc1;"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Price Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Price</h3>
                            </div>
                            <div class="ec-sb-block-content es-price-slider">
                                <div class="ec-price-filter">
                                   
                                    <div id="ec-sliderPrice" class="filter__slider-price" data-min="0"
                                         data-max="250" data-step="10"></div>
                                    <div class="ec-price-input">
                                        <label class="filter__label">
                                            <input type="text"
                                                   class="filter__input">
                                        </label>
                                        <span class="ec-price-divider"></span>
                                        <label class="filter__label">
                                            <input type="text"
                                                   class="filter__input">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Shop page -->



@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="ec_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <!-- Swiper -->
                        <div class="qty-product-cover">
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="qty-nav-thumb">
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                                <img class="img-responsive" src="~/Images/Products/SPG-00173-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="quickview-pro-content">
                            <h5 class="ec-quick-title">
                                <a href="~/Theme/product-left-sidebar.html">Handbag leather purse for women</a>
                            </h5>
                            <div class="ec-quickview-rating">
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star"></i>
                            </div>

                            <div class="ec-quickview-desc">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s,
                            </div>
                            <div class="ec-quickview-price">
                                <span class="old-price">$100.00</span>
                                <span class="new-price">$80.00</span>
                            </div>

                            <div class="ec-pro-variation">
                                <div class="ec-pro-variation-inner ec-pro-variation-color">
                                    <span>Color</span>
                                    <div class="ec-pro-color">
                                        <ul class="ec-opt-swatch">
                                            <li><span style="background-color:#696d62;"></span></li>
                                            <li><span style="background-color:#d73808;"></span></li>
                                            <li><span style="background-color:#577023;"></span></li>
                                            <li><span style="background-color:#2ea1cd;"></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ec-pro-variation-inner ec-pro-variation-size ec-pro-size">
                                    <span>Size</span>
                                    <div class="ec-pro-variation-content">
                                        <ul class="ec-opt-size">
                                            <li class="active">
                                                <a href="~/Theme/#" class="ec-opt-sz"
                                                   data-tooltip="Small">S</a>
                                            </li>
                                            <li><a href="~/Theme/#" class="ec-opt-sz" data-tooltip="Medium">M</a></li>
                                            <li><a href="~/Theme/#" class="ec-opt-sz" data-tooltip="Large">X</a></li>
                                            <li><a href="~/Theme/#" class="ec-opt-sz" data-tooltip="Extra Large">XL</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-quickview-qty">
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                                </div>
                                <div class="ec-quickview-cart ">
                                    <button class="btn btn-primary">
                                        <img src="~/Theme/assets/images/icons/cart.svg"
                                             class="svg_img pro_svg" alt="" /> Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->