
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">About Us</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">About Us</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Ec About Us page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">About Us</h2>
                    <h2 class="ec-title">About Us</h2>
                    <p class="sub-title mb-3">About our business Firm</p>
                </div>
            </div>
            <div class="ec-common-wrapper">
                <div class="row">
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                            <img class="a-img" src="~/Theme/assets/images/Source Images/about.jpg" alt="about">
                        </div>
                    </div>
                    <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">About us:</h3>
                            <p>
                                MWEAR is providing the services of all wearing solutions.
                                <br> Mwear is established in 2021 with a unique philosophy to revive the country’s cultural heritage and all kinds of wear Women’s & Men’s and the popular wearing, and soon became one of the most famous and recognizable clothing brands in Pakistan.

                                <br> Mwear offers a wide variety of fashionable apparel, each is diverse incorporating trendy looks with cultural, and contemporary designs that portray unique craftsmanship. Our fashion line for women & Men is distinct with an artistic pedigree embodying an intermix look for the new age.

                                <br> We pride ourselves on being a complete apparel brand that deals in eastern/ western wear, for women and men. We work in different categories and textures like silk, chiffon, cotton, cambric, lawn and, denim fabrics that suit the season.

                                <br> We value business ethics and provide our customers with the best in the best price rates offered in the market. This is the reason why we are known to have good word of mouth across the industry. Our online store Mwear offering an e-commerce service to deliver customers our diverse range of fashionable goods.
                                <br> Mwear is the humble beginnings of a brand that believed in being Solely East, we have moving forward with more decorative touches to our portfolio and have stung together a loyal base of customers all over Pakistan..
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


