
@{
    ViewBag.Title = "CustomerService";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Contact Us</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="ec-breadcrumb-item active">Contact Us</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Ec Contact Us page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-common-wrapper">
                <div class="ec-contact-leftside">
                    <div class="ec-contact-container">
                        <div class="ec-contact-form">
                            <p>
                                <b>Complaint to CEO!</b>
                                <br>In case of any issue or misbehave by our customer service staff you can register your complaint by this form below. This message will be directly reviewed by the CEO of our company. Thank You!
                                Your name
                            </p>
                            <form action="#" method="post">
                                <span class="ec-contact-wrap">
                                    <label>First Name*</label>
                                    <input type="text" name="firstname" placeholder="Enter your first name"
                                           required />
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Last Name*</label>
                                    <input type="text" name="lastname" placeholder="Enter your last name"
                                           required />
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Email*</label>
                                    <input type="email" name="email" placeholder="Enter your email address"
                                           required />
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Phone Number*</label>
                                    <input type="text" name="phonenumber" placeholder="Enter your phone number"
                                           required />
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Comments/Questions*</label>
                                    <textarea name="address"
                                              placeholder="Please leave your comments here.."></textarea>
                                </span>
                                <span class="ec-contact-wrap ec-recaptcha">
                                    <span class="g-recaptcha"
                                          data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
                                          data-callback="verifyRecaptchaCallback"
                                          data-expired-callback="expiredRecaptchaCallback"></span>
                                    <input class="form-control d-none" data-recaptcha="true" required
                                           data-error="Please complete the Captcha">
                                    <span class="help-block with-errors"></span>
                                </span>
                                <span class="ec-contact-wrap ec-contact-btn">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ec-contact-rightside">

                    <div class="ec_contact_info">
                        <h1 class="ec_contact_info_head">Contact us</h1>
                        <ul class="align-items-center">
                            <li class="ec-contact-item">
                                <i class="ecicon eci-map-marker"
                                   aria-hidden="true"></i><span>Address :</span>Plot C-50 P&T Society, Korangi Industrial Area. Karachi. PK
                                75900
                            </li>
                            <li class="ec-contact-item align-items-center">
                                <i class="ecicon eci-phone"
                                   aria-hidden="true"></i><span>Call Us :</span><a href="tel:+922135120841">021-35120841 - 0302-0209222</a>
                            </li>
                            <li class="ec-contact-item align-items-center">
                                <i class="ecicon eci-envelope"
                                   aria-hidden="true"></i><span>Email :</span><a href="info@mwear.pk">info@mwear.pk</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

