
@{
    ViewBag.Title = "DeliveryAndHandling";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Delivery & Handling</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="ec-breadcrumb-item active">Delivery & Handling</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Start Delivery & Handling -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Delivery & Handling</h2>
                    <h2 class="ec-title">Delivery & Handling</h2>
                    <p class="sub-title mb-3">Welcome to MWear.pk</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ec-common-wrapper">
                    <div class="col-sm-12 ec-cms-block">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Mwear provides FREE SHIPPING all over Pakistan by shopping above the specific amount set for your city or Province!</h3>
                            <img src="~/Theme/assets/images/Source Images/FreeShippingSpending-300x291.jpg" alt="free shipping rates" width="300" height="291">
                            <h3 class="ec-cms-block-title">Delivery Information:</h3>
                            <p>
                                Your order is expected to be delivered within 7 working days as an average expected delivery time. However, delivery time may
                                exceed due to the high volume of order logs during the sale season. In case of any delay, you will be informed by our customer services.
                                <br>
                                For further information please feel free contact to our customer services via email: info@mwear.pk or call us on 021-35120841 (Mwear).




                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Shipping & Handling:</h3>
                            <p>
                                As you place your order, you will receive a confirmation via call, email, or SMS from our customer service. After confirmation of your order, it will be further processed for shipment. it may take up to 3 working days for your electronic transaction to be processed as the information of the confirmation provided by you. In case the particular order is not available or is out of stock, replacement of the product will be suggested on the customer’s consent.

                                <br>Your order is expected to be delivered within 7 working days. In case of any delay, you will be informed by our customer services. All packages will be original, unused without any flaws, packed with care and perfection. At Mwear fake products are strictly prohibited.

                                <br>In case any package contains a product that is damaged, feel free to contact our customer services.

                                <br>contact: Info@mwear.pk

                                <br>Phone 021-35120841 (Mwear)
                                <br>0302-0909222
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Privacy & Policy page -->
