
@{
    ViewBag.Title = "ReturnAndExchange";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Returns & Exchange Policy</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="ec-breadcrumb-item active">Returns & Exchange Policy</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Start Returns & Exchange Policy -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Returns & Exchange Policy</h2>
                    <h2 class="ec-title">Returns & Exchange Policy</h2>
                    <p class="sub-title mb-3">Welcome to the MWear.pk</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ec-common-wrapper">
                    <div class="col-sm-12 ec-cms-block">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Return Policy:</h3>
                            <p>
                                If you are looking to return your order we are here to help. You can return your order within three days from the delivery date. Your amount will be refunded within 7 business days by Bank transfer, Easy Paisa, or Jazz Cash transfer. In process of refund, all the service charges will be deducted from your amount. Although if your return is caused by mistake or mishandling from our end, you will not be charged for any service charges.
                                <br>
                                <br>1.If you want to return or claim your order you have to dispatch it to our head office by yourself. The amount for return penalty is 150 rupees
                                <br>2.If you place a new order with your return order you will have to pay 50 rupees as the penalty.
                                <br>
                                <br> Note:
                                <br>
                                <br>1.If the product you bought is marked as non-refundable you will not be eligible for a refund (you can check in the description on the product page if it’s refundable or not).
                                <br>2.Your return order must have no visible signs of wear or use.
                                <br>3.Your return order must have tags and return in the original packaging of the product.
                                <br>4.Please make sure we have the required original invoice with your return order.
                                <br>
                                <br>
                                Contact our customer care for further inquiries.<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Claim Policy:</h3>
                            <p>
                                If you want to claim your order the reason for the claim must be valid.
                                <br>
                                <br>Like:
                                <br>
                                <br>1. Manufacturing Fault
                                <br>2. Misprinting
                                <br>3. Damaged Fabric or embroidery
                                <br>4. You can claim your order within three days from the delivery date, in case of a warranty claim within the duration of the warranty. You will not be charged for shipment in process of claim except warranty claim, for that you will be charged for the service charges.

                                <br>Note:

                                <br>1. If the product you want to claim is marked as non-claimable then you will not be eligible for the claim (you can check in the description on the product page if it’s claimable or not).
                                <br>2. For a warranty claim, you must provide a warranty card, otherwise, you will not be eligible for the claim.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 ec-cms-block">
                        <div class="ec-cms-block-inner">
                            <h3 class="ec-cms-block-title">Exchange Policy:</h3>
                            <p>
                                You can exchange your order within three days from the delivery date. Your order will be exchanged within 7 business days. If your exchange is caused by mistake or mishandling from our end, you will not be charged for any service charges. Although if you are exchanging orders from your own, then you will be charged for service charges is the process. Service charges depend on your destination. OR if you place a new order with your exchange order you will get free shipping as per policy.
                                <br>
                                <br>Note:
                                <br>
                                <br>1. Your exchange order must have no visible signs of wear or use.
                                <br>2. Your exchange order must have tags and return in the original packaging of the product.
                                <br>3. Please make sure we have the required original invoice with your return order.
                                <br>4. We suggest you call our customer care before attempting to exchange.
                            </p>
                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Privacy & Policy page -->
