 <!-- MWear Cart Start -->
<div class="ec-side-cart-overlay"></div>
<div id="ec-side-cart" class="ec-side-cart">
    <div class="ec-cart-inner">
        <div class="ec-cart-top">
            <div class="ec-cart-title">
                <span class="cart_title">My Cart</span>
                <button class="ec-close">×</button>
            </div>
            <ul id="cardDeatilsul" class="eccart-pro-items">
                <li style="display:none">
                    <a href="~/Theme/product-left-sidebar.html" class="sidMWear_pro_img">
                        <img src="~/Theme/assets/images/product-image/6_1.jpg" alt="product">
                    </a>
                    <div class="ec-pro-content">
                        <a href="~/Theme/product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                        <span class="cart-price">$76.00 x 1</span>
                        @*<div class="qty-plus-minus">
                            <input class="qty-input" type="text" name="ec_qtybtn" value="1" disabled/>
                        </div>*@
                        <a href="~/Theme/javascript:void(0)" class="remove">×</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ec-cart-bottom">
            <div class="cart-sub-total">
                <table class="table cart-table">
                    <tbody>
                        <tr>
                            <td class="text-left">Total :</td>
                            <td id="cartTotal" class="text-right primary-color">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart_btn" id="checkout-btns" style="display:none">
                <a href="~/Theme/cart.html" class="btn btn-primary" style="display:none">View Cart</a>
                <a href="@Url.Action("Index","Checkout")" class="btn btn-secondary">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- MWear Cart End -->
<script>
    function GetCartData() {
        url = "/Home/GetCartDetails";
        debugger;
        $.ajax({

            url: url,
            success: function (data) {
                debugger;
                //console.log(data);
                ///alert("If Working");
                //var element = document.getElementById('cartlist');
                if (data.msgType == 2) {
                    alert("Something went wrong! Please refresh the page");
                    console.log(data.msg);
                    return false;
                }
                var total = 0.0;
                var cartcount = 0;
                $("#cardDeatilsul").find("li:gt(0)").remove();
                $(data.cartDetails).each(function (i, e) {
                    var li = $("#cardDeatilsul li:eq(0)").clone().removeAttr("style");
                    $(li).find(".sidMWear_pro_img img").attr("src", "../../Images/Products/" + e.ProductImage);
                    $(li).find(".cart_pro_title").text(e.ProductName);
                    //if (e.UnitPrice > e.NetPrice) {
                    //    $(li).find(".price-old").text("Rs. " + e.UnitPrice);
                    //}
                    //else {
                    //    $(li).find(".price-old").css("display", "none");
                    //}
                    $(li).find(".cart-price").text("Rs. " + e.NetPrice + " x " + e.Quantity);
                    //$(li).find("#qtyspan").text(e.Quantity);
                    var itemtotal = e.Quantity * e.NetPrice;
                    total = total + itemtotal;
                    cartcount = cartcount + 1;
                    $("#cardDeatilsul").append(li);
                });
                
                if (total > 0) {
                    $("#cartTotal").text("Rs. " + total);
                    $("#checkout-btns").css('display', 'block');
                    $(".ec-header-count").text(cartcount);
                }
                else {
                    $("#cartTotal").text("Cart is empty!");
                    $("#checkout-btns").css('display', 'none');
                    $(".ec-header-count").text("0");
                }

            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>
